<!DOCTYPE html>
<html>
<head>

<!-- start other_data -->
<title>我-{site_title}</title>
<!-- end other_data -->


<!-- start head -->
<!-- end head -->

</head>
<body class="bgf7">

  <section class="content_box wo bgf pb100">

  <!-- start user -->
    <header class="common_header clearfix">
      <div class="headBox tc">{nickname}</div>
    </header>

    <div class="userBox clearfix mt26">
      <div class="imgBox">
        <img src="{headimgurl}">
        <div class="name text-overflow">{signature}</div>
      </div>
      <div class="infoBox">
        <div class="clearfix oh">
          <div class="fl">
            <div>{total_integral}</div>
            <div>积分</div>
          </div>
        </div>
        <div class="glass"><label class="statu">{rank}</label></div>
      </div>
    </div>

    <ul class="listBox12 pb76 fs20 pl0">
      <li class="wo_bg1"><a href="user_integral.php"><div class="tempLi text-overflow">我的积分</div></a></li>
      <li class="wo_bg6"><a href="user_pay_order.php"><div class="tempLi text-overflow">订单兑换积分</div></a></li>
      <li class="wo_bg2"><a href="user_collect_product.php"><div class="tempLi text-overflow">我的收藏宝贝</div></a></li>
      <li class="wo_bg2"><a href="user_collect_subject.php"><div class="tempLi text-overflow">我的收藏头条</div></a></li>
      <li class="wo_bg3"><a href="user_config.php"><div class="tempLi text-overflow">个人设置</div></a></li>
      <li class="wo_bg4"><a href="user_suggest.php"><div class="tempLi text-overflow">意见反馈</div></a></li>
      <li class="wo_bg5"><a href="user_wechat.php"><div class="tempLi text-overflow">联系客服</div></a></li>
    </ul>
  <!-- end user -->


    <!-- start nav -->
    <!-- end nav -->



  </section>

    <!-- start footer -->
    <!-- end footer -->


</body>
</html>