<!DOCTYPE html>
<html>

<head>

<!-- start other_data -->
<title>联系客服-{site_title}</title>
<!-- end other_data -->


<!-- start head -->
<!-- end head -->

</head>



<body class="bgf7">

<!-- start other_data -->
  <header class="common_header clearfix">
    <div class="headBox tc">联系客服</div>
    <a href="javascript:void(0)" class="fl back_btn notxt" onclick="window.history.go(-1)">返回</a>
  </header>
<!-- end other_data -->

  <section class="content_box bgf denglu pl0 pr0">
  
<!-- start other_data -->
    <div class="headTitle">
    <img src="/images/wechat.jpg" style="width: 100px;height: 100px;border-radius: 0%;" />
    <span style="margin-left: 10px;">{wechat}</span>

    </div>
    <div class="fs28 mt44 color6 tc">请在微信公众号查询“{wechat}”，关注我们吧！</div>

    <div class="fs28 mt44 color6 tc">qq：{qq}</div>
<!-- end other_data -->

  <!-- start nav -->
  <!-- end nav -->

  </section>
  


  <!-- start footer -->
  <!-- end footer -->

</body>
</html>