<!DOCTYPE html>
<html>

<head>

<!-- start data -->
<title>个人设置-{site_title}</title>
<!-- end data -->


<!-- start head -->
<!-- end head -->

</head>


<body class="bgf">
  <section class="content_box bgf pb100">
    <header class="common_header clearfix">
      <div class="headBox tc">设置</div>
      <a href="javascript:void(0)" class="fl back_btn notxt" onclick="window.history.go(-1)">返回</a>
    </header>

    <div class="listBox5 pl40 pr40">

      <a href="user_config_info.php">
      <div class="item pr54 next_bg">
        <div class="tempItem clearfix">
          <div class="fl">个人资料</div>
        </div>
      </div>
      </a>

      <a href="user_config_password.php">
      <div class="item pr54 next_bg">
        <div class="tempItem clearfix">
          <div class="fl">密码修改</div>
        </div>
      </div>
    </a>

    </div>
    <div class="pl40 pr40">
      <a href="user_login_out.php" class="common_btn1 wper100 mt100">退出登录</a>
    </div>

  <!-- start nav -->
  <!-- end nav -->
  
  </section>
  

  <!-- start footer -->
  <!-- end footer -->


</body>
</html>