<!DOCTYPE html>
<html>

<head>
<!-- start data -->
<title>修改密码-{site_title}</title>
<!-- end data -->


<!-- start head -->
<!-- end head -->

<script type="text/javascript">
$CONFIG.__page='page.index';
</script>

</head>


<body class="bgf">
  <section class="content_box chuangjianxinxiguan pb100">
    <header class="common_header clearfix">
      <div class="headBox tc">修改密码</div>
      <a href="javascript:void(0)" class="fl back_btn notxt" onclick="window.history.go(-1)">返回</a>
    </header>

 <form action="user_config_password_make.php" method="post" enctype="multipart/form-data" id="form_box">

    <div class="listBox5 pl40 pr40">

     <!-- <div class="item pr54 oh">
        <div class="tempItem clearfix">
          <input type="password" class="txt_input tl now fl wper100" placeholder="输入旧密码" name="password_old" id="password_old">
        </div>
      </div>-->

      <div class="item pr54 oh">
        <div class="tempItem clearfix">
          <input type="password" class="txt_input tl now fl wper100" placeholder="输入新密码"  name="password_new1" id="password_new1">
        </div>
      </div>
      <div class="item pr54 oh">
        <div class="tempItem clearfix">
          <input type="password" class="txt_input tl now fl wper100" placeholder="重新输入密码" name="password_new2" id="password_new2">
        </div>
      </div>
    </div>

    <a href="javascript:void(0)" class="common_btn1 mt100" onclick="submit_make()">提交</a>

</form>

  <!-- start nav -->
  <!-- end nav -->


  </section>
  

  <!-- start footer -->
  <!-- end footer -->

</body>

<script type="text/javascript">
  
function submit_make()
{
    var password_old = $("#password_old").val();
    var password_new1 = $("#password_new1").val();
    var password_new2 = $("#password_new2").val();

    if( $("#password_old").val() == "" )
    {
        alert("旧密码不能为空！");
    }

    if( $("#password_new1").val() == "" )
    {
        alert("新密码不能为空！");
    }

    if( $("#password_new2").val() == "" )
    {
        alert("新密码不能为空！");
    }

    $.ajax
     ({
         url: "user_config_password_make.ajax.php",  
         data: "password_old="+password_old+"&password_new1="+password_new1+"&password_new2="+password_new2,
         type:'post',
         async: true,
         dataType: 'text',
         error: function(){  
             alert('error');  
         },  
         success: function(data)
         {  
            if( data == 'ok' )
            {
                alert("修改成功！");
                window.location.href="user.php";
            }
            else
            {
               alert(data);
            }


         }

     });
}

</script>

</html>