
    <!-- start product -->
      <div class="shop_item" >

        <div class="shop_left">
          <a href="product_detail.php?no={no}">
          <img data-original="{pic_url}" class="scrollLoading" alt="{title}" src="images/default_shop.png">
          </a>
        </div>
        
        <div class="shop_right">

          <p class="sales_num" style="margin:0px">
           <img src="images/taobao.png" style="margin-top: 1px" /> <span style="vertical-align: top">{shop_name}</span>
          </p>
          

          <a href="product_detail.php?no={no}">
          <h1>
          {title}

          </h1>
          </a>
          
          <p class="sales_num">销量:<span>{sale_num}</span>, 优惠卷:<span>({coupon_start_date_format}~{coupon_end_date_format})</span></p>

          <div class="types clearfix">
              <!-- start label_list -->
                <span class="color {color}">{label}</span>
               <!-- end label_list -->
          </div>

          <div class="coupon">
              <div class="coupon_after">券后:<span>￥<label>{sale_price}</label></span></div>

              <a href="javascript:;" onclick="delete_collect({no})">

              <div class="coupon_button delete"><span class="coupon_price">￥<label>{coupon_save_price}</label></span><span class="coupon_botton_text">移除宝贝</span></div>

              </a>

          </div>
                        
        </div>

      </div>
    <!-- end product -->


<script type="text/javascript">
  
//懒加载
jQuery('img').lazyload();

</script>