<!doctype html>
<html class="no-js">

<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title></title>
  <meta name="description" content="这是一个 table 页面">
  <meta name="keywords" content="table">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="renderer" content="webkit">
  <meta http-equiv="Cache-Control" content="no-siteapp" />
  <link rel="stylesheet" href="js/amazeui/css/amazeui.min.css"/>
  <link rel="stylesheet" href="js/amazeui/css/admin.css">
</head>

<body>
<!--[if lte IE 9]>
<p class="browsehappy">你正在使用<strong>过时</strong>的浏览器，Amaze UI 暂不支持。 请 <a href="http://browsehappy.com/" target="_blank">升级浏览器</a>
  以获得更好的体验！</p>
<![endif]-->


<!-- start nav -->
<!-- end nav -->

<div class="am-cf admin-main">

  <!-- start menu -->
  <!-- end menu -->


  <!-- content start -->
  <div class="admin-content">

  <!-- start footer -->
  <!-- end footer -->

  </div>
  <!-- content end -->
</div>

<!--[if (gte IE 9)|!(IE)]><!-->
<script src="js/amazeui/js/jquery.min.js"></script>
<!--<![endif]-->
<script src="js/amazeui/js/amazeui.min.js"></script>
<script src="js/amazeui/js/app.js"></script>
</body>
</html>
