 
<!-- start menu -->

  <div class="admin-sidebar am-offcanvas" id="admin-offcanvas">
    <div class="am-offcanvas-bar admin-offcanvas-bar">
      <ul class="am-list admin-sidebar-list">

        
        <li class="admin-parent">
          <a class="am-cf" data-am-collapse="{target: '#collapse-nav1'}">
          <span class="am-icon-th-large"></span> 商品 
          <span class="am-icon-angle-right am-fr am-margin-right"></span>
          </a>
            <ul class="am-list admin-sidebar-sub am-collapse {product_in}" id="collapse-nav1" style="{product_height}">

            <li>
            <a href="slideshow.php?come_from=product">
            <span class="am-icon-file"></span> 轮播图
            </a>
            </li>

            <li>
            <a href="category.php?come_from=product">
            <span class="am-icon-file"></span> 分类
            </a>
            </li>

            <li>
            <a href="product.php?come_from=product">
            <span class="am-icon-file"></span> 商品
            </a>
            </li>

            <li>
            <a href="taoqianggou.php?come_from=product">
            <span class="am-icon-file"></span> 淘抢购
            </a>
            </li>


          </ul>
        </li>

        
        <li class="admin-parent">
          <a class="am-cf" data-am-collapse="{target: '#collapse-nav2'}">
          <span class="am-icon-th-large"></span> 用户管理 
          <span class="am-icon-angle-right am-fr am-margin-right"></span>
          </a>
            <ul class="am-list admin-sidebar-sub am-collapse {user_in}" id="collapse-nav2" style="{user_height}">

            <li>
            <a href="user.php?come_from=user">
            <span class="am-icon-file"></span> 用户管理
            </a>
            </li>

            <li>
            <a href="open_user.php?come_from=user">
            <span class="am-icon-file"></span> 用户第三方信息
            </a>
            </li>


            <li>
            <a href="user_integral.php?come_from=user">
            <span class="am-icon-file"></span> 用户积分
            </a>
            </li>


            <li>
            <a href="pay_order.php?come_from=user">
            <span class="am-icon-file"></span> 订单兑换积分
            </a>
            </li>

            <li>
            <a href="search.php?come_from=user">
            <span class="am-icon-file"></span> 用户搜索
            </a>
            </li>

            <li>
            <a href="suggest.php?come_from=user">
            <span class="am-icon-file"></span> 用户反馈
            </a>
            </li>

            <li>
            <a href="user_login.php?come_from=user">
            <span class="am-icon-file"></span> 用户登录
            </a>
            </li>

            <li>
            <a href="user_collect.php?come_from=user">
            <span class="am-icon-file"></span> 用户收藏
            </a>
            </li>

            <li>
            <a href="user_footprint.php?come_from=user">
            <span class="am-icon-file"></span> 用户浏览
            </a>
            </li>


          </ul>
        </li>

        <li>
        <a href="article.php">
        <span class="am-icon-pinterest"></span> 头条
        </a>
        </li>

        <li>
        <a href="hot_search.php">
        <span class="am-icon-search"></span> 热门搜索
        </a>
        </li>


        
        <li class="admin-parent">
          <a class="am-cf" data-am-collapse="{target: '#collapse-nav3'}">
          <span class="am-icon-gear"></span> 基本配置 
          <span class="am-icon-angle-right am-fr am-margin-right"></span>
          </a>
            <ul class="am-list admin-sidebar-sub am-collapse {baseconfig_in}" id="collapse-nav3" style="{product_height}">

            <li>
            <a href="system_config_modify.php?come_from=baseconfig">
            <span class="am-icon-file"></span> 系统配置
            </a>
            </li>


            <li>
            <a href="admin.php?come_from=baseconfig">
            <span class="am-icon-file"></span> 管理员管理 
            </a>
            </li>


            <li>
            <a href="role.php?come_from=baseconfig">
            <span class="am-icon-file"></span> 角色管理
            </a>
            </li>



          </ul>
        </li>



      </ul>

    </div>
  </div>

<!-- end menu -->
