<!doctype html>
<html class="no-js">

<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>后台管理</title>
  <meta name="description" content="">
  <meta name="keywords" content="table">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="renderer" content="webkit">
  <meta http-equiv="Cache-Control" content="no-siteapp" />
  <link rel="stylesheet" href="js/amazeui/css/amazeui.min.css"/>
  <link rel="stylesheet" href="js/amazeui/css/admin.css">
</head>

<body>
<!--[if lte IE 9]>
<p class="browsehappy">你正在使用<strong>过时</strong>的浏览器，Amaze UI 暂不支持。 请 <a href="http://browsehappy.com/" target="_blank">升级浏览器</a>
  以获得更好的体验！</p>
<![endif]-->


<!-- start nav -->
<!-- end nav -->

<div class="am-cf admin-main">

  <!-- start menu -->
  <!-- end menu -->


  <!-- content start -->
  <div class="admin-content">
    <div class="admin-content-body">
    
      <div class="am-cf am-padding am-padding-bottom-0">
        <div class="am-fl am-cf"><strong class="am-text-primary am-text-lg">用户第三方信息</strong> / <small>用户第三方信息</small></div>
      </div>

      <hr>

      <div class="am-g">

        <div class="am-u-sm-12">
        <form action="open_user.php" method="get">
            openid :
            <input type="text" class="am-form-field am-input-sm" name="openid" placeholder="" id="openid" style="display: inline;width: 300px">

            用户昵称:
            <input type="text" class="am-form-field am-input-sm" name="user_name" placeholder="" id="user_name" style="display: inline;width: 100px">

            昵称:
            <input type="text" class="am-form-field am-input-sm" name="nickname" placeholder="" id="nickname" style="display: inline;width: 100px">

            <br/>

            unionid:
            <input type="text" class="am-form-field am-input-sm" name="unionid" placeholder="" id="unionid" style="display: inline;width: 300px">

            用户编号:
            <input type="text" class="am-form-field am-input-sm" name="user_no" placeholder="" id="user_no" style="display: inline;width: 100px">


            <br/>

            绑定时间:
            <input type="date" class="am-form-field am-input-sm" placeholder="" style="width: 200px;display: inline;" name="add_time_min" id="add_time_min">
            ~
            <input type="date" class="am-form-field am-input-sm" placeholder="" style="width: 200px;display: inline;" name="add_time_max" id="add_time_max">

            <input type="submit" value="搜索" class="am-btn am-btn-default" style="display: inline;width: 100px"/>

        </form>
        </div>

        <br/>

        <div class="am-u-sm-12 am-u-md-6" style="margin-top: 20px;">
          <div class="am-btn-toolbar">
            <div class="am-btn-group am-btn-group-xs">
              <button type="button" class="am-btn am-btn-default">
              <a href="javascript:void(0)" onclick="open_user_delete_more()" class="am-text-danger"><span class="am-icon-trash-o"></span> 删除</a></button>
            </div>
          </div>
        </div>



      </div>

      <div class="am-g">
        <div class="am-u-sm-12">
          <form class="am-form">
            <table class="am-table am-table-striped am-table-hover table-main">
              <thead>
              <tr>
                <th class="table-check">
                <input type="checkbox" onclick="more_choose(this)" /></th>
                <th class="table-id">ID</th>
                <th class="table-title">用户昵称</th>
                <th class="table-title">openid/unionid</th>
                <th class="table-title">昵称</th>
                <th class="table-title">性别</th>
                <th class="table-title">国家/省份/城市</th>
                <th class="table-pic">头像</th>
                <th class="table-title">绑定类型</th>
                <th class="table-date">绑定时间</th>
                <th class="table-set">操作</th>
              </tr>
              </thead>
              <tbody>
           <!-- start list -->
              <tr>
                <td><input type="checkbox" name="noList[]" value="{no}"/></td>
                <td>{no}</td>
                <td>
                <a href="user_modify.php?no={user_no}" />{user_name}({user_no})</a>
                </td>
                <td>{openid}<br/>{unionid}</td>
                <td>{nickname}</td>
                <td>{sex}</td>
                <td>{country}/{province}/{city}</td>
                <td>
                <img src="{headimgurl}" style="width: 100px;height: 100px"/>
                </td>
                <td>{login_type}</td>
                <td>{add_time}</td>
                <td>
                  <div class="am-btn-toolbar">
                    <div class="am-btn-group am-btn-group-xs">

                      <button class="am-btn am-btn-default am-btn-xs am-hide-sm-only"><a href="javascript:;" onclick="delete_one_make('open_user_delete.php', {no})" class="am-text-danger"><span class="am-icon-trash-o"></span>&nbsp;&nbsp;删除</a></button>

                    </div>
                  </div>
                </td>
              </tr>
            <!-- end list -->

              </tbody>
            </table>

<form name="PageForm" action="open_user.php" method="get">
<!-- start search -->
<input type="hidden" name="order" value="{order}">
<input type="hidden" name="openid" value="{openid}">
<input type="hidden" name="nickname" value="{nickname}">
<input type="hidden" name="unionid" value="{unionid}">
<input type="hidden" name="add_time_min" value="{add_time_min}">
<input type="hidden" name="add_time_max" value="{add_time_max}">
<input type="hidden" name="user_no" value="{user_no}">
<input type="hidden" name="user_name" value="{user_name}">

<!-- end search -->

<!-- start page_list -->

            <div class="am-cf">
              共 {total_count} 条记录, 共 {total_page} 页
              <div class="am-fr">

                <ul class="am-pagination">

                  <li><a href="open_user.php?page=1&{get}">«</a></li>

                  <li><a href="open_user.php?page={previous_page}&{get}">‹</a></li>

                  <!-- start previous -->
                   <li><a href="open_user.php?page={previous}&{get}">{previous}</a>
                   </li>
                  <!-- end previous -->

                  <li><a href="open_user.php?page={page}&{get}">{page}</a></li>

                  <!-- start next -->
                  <li><a href="open_user.php?page={next}&{get}">{next}</a></li>
                  <!-- end next -->
                  <li><a href="open_user.php?page={next_page}&{get}">›</a></li>

                  <li><a href="open_user.php?page={last_page}&{get}">»</a></li>

                </ul>

              </div>
            </div>
<!-- end page_list -->
</form>

        </div>

      </div>
    </div>

  <!-- start footer -->
  <!-- end footer -->


  </div>
  <!-- content end -->
</div>

<!--[if (gte IE 9)|!(IE)]><!-->
<script src="js/amazeui/js/jquery.min.js"></script>
<!--<![endif]-->
<script src="js/amazeui/js/amazeui.min.js"></script>
<script src="js/amazeui/js/app.js"></script>
<script src="js/common.js"></script>
<script type="text/javascript">

  function open_user_delete_more()
  {
    var queryData = "";

    var no_list = [];

    $("input[name='noList[]']").each(function (index, domEle) { 

        if( $(this).prop("checked") )
        {
          no_list.push($(this).val());
        }
    });

    no_list = no_list.join(',');

    queryData = "no_list="+ no_list;

    $.ajax
     ({
         url: "open_user_delete_more.php",  
         data: queryData,
         type:'post',
         async: true,
         dataType: 'text',
         error: function(){  
             alert('error');  
         },  
         success: function(data)
         {  
            if( data == 'ok' )
            {
               alert("删除成功!");

               window.location.reload(); //重新加载页面
            }
            else
            {
              alert(data);
            }
         }

     });
  }

</script>

<!-- start search -->
<script language="javascript">
$("#openid").val("{openid}");
$("#nickname").val("{nickname}");
$("#unionid").val("{unionid}");
$("#add_time_min").val("{add_time_min}");
$("#add_time_max").val("{add_time_max}");
$("#user_no").val("{user_no}");
$("#user_name").val("{user_name}");

</script>
<!-- end search -->

</body>
</html>
