<!doctype html>
<html class="no-js">

<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>后台管理</title>
  <meta name="description" content="">
  <meta name="keywords" content="table">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="renderer" content="webkit">
  <meta http-equiv="Cache-Control" content="no-siteapp" />
  <link rel="stylesheet" href="js/amazeui/css/amazeui.min.css"/>
  <link rel="stylesheet" href="js/amazeui/css/admin.css">
</head>

<body>
<!--[if lte IE 9]>
<p class="browsehappy">你正在使用<strong>过时</strong>的浏览器，Amaze UI 暂不支持。 请 <a href="http://browsehappy.com/" target="_blank">升级浏览器</a>
  以获得更好的体验！</p>
<![endif]-->


<!-- start nav -->
<!-- end nav -->

<div class="am-cf admin-main">

  <!-- start menu -->
  <!-- end menu -->


  <!-- content start -->
  <div class="admin-content">
    <div class="admin-content-body">
    
      <div class="am-cf am-padding am-padding-bottom-0">
        <div class="am-fl am-cf"><strong class="am-text-primary am-text-lg">用户反馈</strong> / <small>用户反馈</small></div>
      </div>

      <hr>

      <div class="am-g">

        <div class="am-u-sm-12">
        <form action="suggest.php" method="get">

            用户编号:
            <input type="text" class="am-form-field am-input-sm" name="user_no" placeholder="" id="user_no" style="display: inline;width: 200px">

            反馈内容:
            <input type="text" class="am-form-field am-input-sm" name="content" placeholder="" id="content" style="display: inline;width: 200px">

            回复内容:
            <input type="text" class="am-form-field am-input-sm" name="reply_content" placeholder="" id="reply_content" style="display: inline;width: 200px">
            
            <br/>
            反馈时间:
            <input type="date" class="am-form-field am-input-sm" placeholder="" style="width: 200px;display: inline;" name="add_time_min" id="add_time_min">
            ~
            <input type="date" class="am-form-field am-input-sm" placeholder="" style="width: 200px;display: inline;" name="add_time_max" id="add_time_max">


            <input type="submit" value="搜索" class="am-btn am-btn-default" style="display: inline;width: 100px"/>

        </form>
        </div>

        <br/>
        <br/>


        <div class="am-u-sm-12 am-u-md-6" style="margin-top: 20px;">
          <div class="am-btn-toolbar">
            <div class="am-btn-group am-btn-group-xs">

              <button type="button" class="am-btn am-btn-default">
              <a href="javascript:void(0)" onclick="delete_more_make('suggest_delete_more.php')" class="am-text-danger"><span class="am-icon-trash-o"></span> 删除</a></button>

            </div>
          </div>
        </div>





      </div>

      <div class="am-g">
        <div class="am-u-sm-12">
          <form class="am-form">
            <table class="am-table am-table-striped am-table-hover table-main">
              <thead>
              <tr>
                <th class="table-check">
                <input type="checkbox" onclick="more_choose(this)" /></th>
                <th class="table-id">ID</th>
                <th class="table-title">用户</th>
                <th class="table-title">反馈内容</th>
                <th class="table-title">回复内容</th>
                <th class="table-title">回复消息ID</th>
                <th class="table-title">反馈时间</th>
                <th class="table-date">回复时间</th>
                <th class="table-set">操作</th>
              </tr>
              </thead>
              <tbody>
           <!-- start list -->
              <tr>
                <td><input type="checkbox" name="noList[]" value="{no}"/></td>
                <td>{no}</td>
                <td>
                <a href="user_modify.php?no={user_no}">{nickname}({user_no})</a>
                </td>                
                <td>{content}</td>
                <td>{reply_content}</td>
               <td>
                <a href="user_message_modify.php?no={user_message_no}">{user_message_no}</a>
                </td>  
                <td>{add_time}</td>
                <td>{update_time}</td>
                <td>
                  <div class="am-btn-toolbar">
                    <div class="am-btn-group am-btn-group-xs">

                      <button class="am-btn am-btn-default am-btn-xs am-text-secondary">
                      <a href="suggest_modify.php?no={no}"><span class="am-icon-pencil-square-o"></span> 
                      回复</a></button>

                      <button class="am-btn am-btn-default am-btn-xs am-hide-sm-only"><a href="javascript:;" onclick="delete_one_make('suggest_delete.php', {no})" class="am-text-danger"><span class="am-icon-trash-o"></span>&nbsp;&nbsp;删除</a></button>

                    </div>
                  </div>
                </td>
              </tr>
            <!-- end list -->

              </tbody>
            </table>

<form name="PageForm" action="suggest.php" method="get">
<!-- start search -->
<input type="hidden" name="order" value="{order}">
<input type="hidden" name="user_no" value="{user_no}">
<input type="hidden" name="content" value="{content}">
<input type="hidden" name="reply_content" value="{reply_content}">
<input type="hidden" name="add_time_min" value="{add_time_min}">
<input type="hidden" name="add_time_max" value="{add_time_max}">

<!-- end search -->

<!-- start page_list -->

            <div class="am-cf">
              共 {total_count} 条记录, 共 {total_page} 页
              <div class="am-fr">

                <ul class="am-pagination">

                  <li><a href="suggest.php?page=1&{get}">«</a></li>

                  <li><a href="suggest.php?page={previous_page}&{get}">‹</a></li>

                  <!-- start previous -->
                   <li><a href="suggest.php?page={previous}&{get}">{previous}</a>
                   </li>
                  <!-- end previous -->

                  <li><a href="suggest.php?page={page}&{get}">{page}</a></li>

                  <!-- start next -->
                  <li><a href="suggest.php?page={next}&{get}">{next}</a></li>
                  <!-- end next -->
                  <li><a href="suggest.php?page={next_page}&{get}">›</a></li>

                  <li><a href="suggest.php?page={last_page}&{get}">»</a></li>

                </ul>

              </div>
            </div>
<!-- end page_list -->
</form>

        </div>

      </div>
    </div>

  <!-- start footer -->
  <!-- end footer -->


  </div>
  <!-- content end -->
</div>

<!--[if (gte IE 9)|!(IE)]><!-->
<script src="js/amazeui/js/jquery.min.js"></script>
<!--<![endif]-->
<script src="js/amazeui/js/amazeui.min.js"></script>
<script src="js/amazeui/js/app.js"></script>
<script src="js/common.js"></script>

<!-- start search -->
<script language="javascript">
$("#user_no").val("{user_no}");
$("#content").val("{content}");
$("#reply_content").val("{reply_content}");
$("#add_time_min").val("{add_time_min}");
$("#add_time_max").val("{add_time_max}");

</script>
<!-- end search -->

</body>
</html>
